html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: cheddar;
  src: url(../font/Adam\ Ladd\ -\ CheddarGothicStencil.otf);
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v11-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/dm-sans-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-700.woff") format("woff"), url("../fonts/dm-sans-v11-latin-700.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-700.svg#DMSans") format("svg"); /* Legacy iOS */
}
.heading {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
}

.mb {
  display: none;
}

.sub-heading {
  color: #bb9772;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: center;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.home {
  background-color: #cac5bd;
  height: 100vh;
}

.coin,
.park {
  background-color: #cac5bd;
}

.okb-50 {
  width: 50%;
}

.okb-text {
  color: #402d28;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 300;
}

.heading-3 {
  margin-bottom: 25px;
  color: #402d28;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .faq-row {
    flex-direction: column;
  }
  .faq-div {
    width: 100% !important;
  }
}
@media screen and (max-width: 991px) {
  .okb-50 {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .okb-50 {
    width: 100%;
    padding-right: 0px;
  }
  .okb-bigtext {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 1023.98px) {
  .mb {
    display: block;
  }
}
.header {
  background-color: transparent;
  padding: 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.header .coming-soon {
  opacity: 0;
  transition: 0.2s ease;
  position: absolute;
  height: 28px;
  top: -74%;
  width: fit-content;
  right: -18%;
  left: 25px;
  padding: 3px;
  border-radius: 2px;
  background-color: orange;
  color: #fff9f0;
  font-size: 0.6rem;
  text-align: center;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.header .coming-soon.active {
  opacity: 1;
}
.header-mobile-bars {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-logo {
  width: 100px;
  height: 53px;
  font-size: 30px;
  color: #b57c42;
  text-transform: capitalize;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.header-nav li {
  position: relative;
  background-color: #cac5bd;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.header-nav li:hover {
  background-color: #fff;
}
.header-nav li a {
  text-transform: uppercase;
  color: #b57c42;
}
.header-nav li .news-noti {
  position: absolute;
  left: auto;
  top: -34%;
  right: -18%;
  bottom: 0%;
  width: 2.2rem;
  height: 1rem;
  background-color: orange;
  border-radius: 2px;
  color: #fff9f0;
  font-size: 0.6rem;
  letter-spacing: 0.12em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.header .header-mobile-bars {
  display: none;
  background-color: #f3eadb;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 3px;
}
.header .header-mobile-bars i {
  color: #b57c42;
  font-weight: bold;
}

@media screen and (max-width: 1023.98px) {
  .header .header-nav {
    display: none;
  }
  .header .header-mobile-bars {
    display: flex;
  }
}
.okb-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
  position: relative;
  font-size: 8rem;
  text-transform: uppercase;
  height: 80vh;
  color: #b57c42;
  font-family: "DM Sans";
  font-weight: 700;
}
.okb-title .img-wrap {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.okb-title .img-wrap img {
  height: 320px;
  width: 250px;
  object-fit: cover;
}

.color-imgs {
  width: 800px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 420px;
}
.color-imgs .bear-txt {
  position: absolute;
  right: 22%;
  bottom: 0;
}

.o-div {
  margin-right: -25px;
}

.k-div {
  margin-right: -47px;
}

.a-div {
  margin-left: -4%;
}

img {
  display: inline-block;
  height: 100%;
  margin-right: 0px;
  padding-right: 0px;
  opacity: 1;
  mix-blend-mode: multiply;
}

.black-imgs {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 800px;
  display: flex;
  height: 420px;
  margin: 0 auto;
  justify-content: center;
}
.black-imgs .o-div:hover,
.black-imgs .k-div:hover,
.black-imgs .a-div:hover,
.black-imgs .y-div:hover {
  opacity: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .okb-title {
    margin-top: 300px;
  }
  .okb-title .color-imgs .bear-txt {
    right: 7%;
  }
  .okb-title .black-imgs {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .okb-title {
    margin-top: 160px;
  }
  .okb-title .color-imgs {
    justify-content: unset;
    background-image: url(https://assets-global.website-files.com/622eead55797fc2865c24818/62d811b317f57f2b17a752d3_OKMobile-min.png);
    background-size: 375px;
    background-repeat: no-repeat;
  }
  .okb-title .color-imgs .o-div,
.okb-title .color-imgs .k-div,
.okb-title .color-imgs .a-div,
.okb-title .color-imgs .y-div {
    display: none;
  }
  .okb-title .bear-txt {
    display: none;
  }
  .okb-title .black-imgs {
    display: none;
  }
}
.coin-image {
  margin-top: 140px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 40px;
  justify-content: center;
}
.coin-image .coin-item {
  width: calc(16.66666% - 20px);
  border-radius: 10px;
  overflow: hidden;
}
.coin-image .coin-item img {
  max-width: 100%;
  object-fit: cover;
}

.okb-section {
  padding: 100px 0;
}

.heading {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 35px;
}

.darkbrown {
  background-image: url(https://assets-global.website-files.com/622eead55797fc2865c24818/62e86e9e8aa3c23f0b94a7a2_BG_2.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.darkbrown .heading {
  color: #f3eadb;
}

.okb-bigtext {
  max-width: 631.3333px;
  text-align: center;
  line-height: 140%;
  margin: 0 auto;
  color: #916b46;
  font-size: 20px;
  font-weight: 400;
}

.okb-bigtext.light {
  color: #f3eadb;
}

img {
  margin: 0 auto;
}

.okb-section.light {
  background-color: #f3eadb;
}

.faq-section {
  margin: 0 auto;
  padding: 80px 0;
}
.faq-section .faq-row {
  width: 80%;
  display: flex;
  margin: 0 auto;
  gap: 60px;
  justify-content: center;
  margin-top: 60px;
}
.faq-section .faq-div {
  width: 50%;
}
.faq-section .faq-div .faq-q {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: #402d28;
  font-weight: 500;
  font-size: 2.5rem;
}
.faq-section .faq-div p {
  color: #916b46;
  font-size: 1.25rem;
  line-height: 140%;
}

@media screen and (max-width: 1023.98px) {
  .three-coin {
    width: 492px;
    margin-bottom: 50px;
  }
  .faq-section .faq-div .faq-q {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767.98px) {
  .heading {
    max-width: 279px;
  }
  .okb-bigtext {
    max-width: 279px;
    font-size: 0.85rem;
  }
  .coin-image img {
    display: none;
  }
  .coin-image .mb {
    display: block !important;
  }
  .faq-section .faq-div p {
    font-size: 0.85rem;
  }
  .faq-section .faq-div .faq-q {
    font-size: 1.5rem;
  }
}
.header-mobile {
  padding: 20px;
  height: 100vh;
  background-color: #008056;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateX(-100%);
  transition: 0.2s ease-out;
}
.header-mobile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mobile .close-btn {
  width: 40px;
  height: 35px;
  background-color: #cac5bd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mobile .close-btn i {
  color: #b57c42;
  font-size: 18px;
}
.header-mobile .header-logo {
  margin: 0;
  width: 100px;
  height: 53px;
}
.header-mobile .header-mobile-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
.header-mobile .header-mobile-nav li {
  background-color: #cac5bd;
  color: #b57c42;
  padding: 3px 10px;
  border-radius: 3px;
  width: fit-content;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
}
.header-mobile .header-mobile-nav li.active {
  border: 1px solid #b57c42;
  background-color: transparent;
}
.header-mobile .header-mobile-nav li .news-noti {
  top: -16px;
  right: 0;
  text-transform: uppercase;
  font-size: 8px;
  background-image: linear-gradient(180deg, #19ab6e, #19ab6e);
  color: #fff;
  display: flex;
  position: absolute;
  width: 30px;
  height: 14px;
  justify-content: center;
  align-items: center;
}
.header-mobile .ill {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  margin-bottom: -3px;
  mix-blend-mode: multiply;
}
.header-mobile.active {
  transform: translateX(0);
}

.mission-section {
  padding: 0 30px;
  margin-top: 150px;
}
.mission-section .left h2 {
  color: orange;
  font-size: 5.5rem;
}
.mission-section .left p {
  margin-top: 10px;
  color: #7f756c;
  margin-left: 10px;
  font-size: 30px;
}

.box-list {
  margin-top: 50px;
  padding: 0 30px;
  display: flex;
  gap: 20px;
}
.box-list .box-item {
  padding: 20px;
  width: calc(50% - 20px);
  background-color: #fff2e1;
  border-radius: 3px;
  border: 1px solid #fffdfb;
  box-shadow: 0px 0px 10px #ccc;
}
.box-list .box-item ul {
  margin-top: 10px;
  list-style: none;
}
.box-list .box-item ul li {
  color: #7f756c;
}
.box-list .box-item-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-list .box-item-number {
  color: #fff;
  background-color: #7f756c;
  padding: 4px 10px;
  border-radius: 5px;
  width: fit-content;
}

.manifesto {
  position: relative;
  background-color: #cac5bd;
}
.manifesto-text {
  margin-top: 150px;
  text-align: left;
  padding-left: 120px;
  padding-bottom: 60px;
}
.manifesto-text p, .manifesto-text .sub-heading, .manifesto-text .heading {
  margin: 0;
  text-align: left;
}
.manifesto-okhand {
  position: fixed;
  left: auto;
  top: auto;
  right: 3vw;
  bottom: 0%;
  height: 90%;
  min-width: 50vw;
  background-image: url(/img/manifesto-img.png);
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .manifesto {
    height: 100vh;
  }
  .manifesto-text {
    padding-left: 65px;
    width: 60%;
  }
}
@media screen and (max-width: 767.98px) {
  .manifesto {
    height: 100vh;
  }
  .manifesto-text {
    width: 100%;
    padding: 0 30px;
  }
  .manifesto-okhand {
    position: relative;
    width: 187px;
    height: 225px;
    margin-left: auto;
  }
}
.connect-section {
  padding: 0 120px;
  margin-top: 150px;
  min-height: 100vh;
}
.connect-section h2 {
  font-size: 4.5rem !important;
  line-height: 1 !important;
  font-weight: 700;
  color: #b57c42;
  font-family: "DM Sans";
  text-transform: uppercase;
}
.connect-section h3 {
  color: #b57c42;
  opacity: 0.7 !important;
  font-size: 1.825rem;
  font-family: "DM Sans";
}
.connect-section .connect-btn {
  padding: 3rem;
  font-size: 30px;
  border-radius: 5px;
  font-weight: 700;
  color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: rgba(255, 228, 196, 0.6352941176);
  width: 400px;
  transition: 0.3s linear;
}
.connect-section .connect-btn:hover {
  background-color: orange;
}

.connect-wallet {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fed7aa;
  bottom: 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.75rem;
}
.connect-wallet p {
  color: brown;
}
.connect-wallet span {
  background-color: orange;
  opacity: 0.7;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  transition: 0.2s ease-in;
}
.connect-wallet span:hover {
  opacity: 1;
}
.connect-wallet img {
  position: absolute;
  width: 317px;
  height: 308px;
  top: -308px;
}

.footer {
  padding-bottom: 35px;
  display: none;
}
.footer .copyright {
  margin-top: 50px;
  margin-left: 126px;
}
.footer .copyright p {
  font-size: 14px;
  color: #b57c42;
}

@media screen and (max-width: 1023.98px) {
  .footer {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
